@keyframes santa {
    0% { transform: translateX(0); }
    25% { transform: translateX(150px) rotateY(360deg); }
    50% { transform: translateX(300px); }
    75% { transform: translateX(150px); }
    100% { transform: translateX(0); }
}